<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nplat.convert.mapper.EnterpriseInfoMapper">

    <select id="getNearEnterpriseInfos" parameterType="java.util.HashMap" resultType="com.nplat.convert.entity.EnterpriseInfo">
            SELECT
              *,round(
                6378.138 * acos (
                  cos ( radians(#{latitude}) )
                  * cos( radians( latitude ) )
                  * cos( radians( longitude ) - radians(#{latitude}) )
                  + sin ( radians(#{latitude}) )
                  * sin( radians( latitude ) )
                )
              ) AS distance
            FROM enterprise_info
            WHERE status = 1
            ORDER BY distance asc
            limit #{offset}, #{size}
    </select>

    <update id="updateInfoById" parameterType="java.util.HashMap">
        update enterprise_info
        <set>
            <if test="sName != null">s_name=#{sName},</if>
            <if test="uName != null">u_name=#{uName},</if>
            <if test="sPhone != null">s_phone=#{sPhone},</if>
            <if test="sImage != null">s_image=#{sImage},</if>
            <if test="openTime != null">open_time=#{openTime},</if>
            <if test="wxNumber != null">wx_number=#{wxNumber},</if>
            <if test="sDescription != null">s_description=#{sDescription},</if>
            <if test="sAddress != null">s_address=#{sAddress},</if>
            <if test="latitude != null">latitude=#{latitude},</if>
            <if test="longitude != null">longitude=#{longitude},</if>
            <if test="likeNumber != null">like_number=#{likeNumber},</if>
            <if test="myPassed != null">my_passed=#{myPassed},</if>
            <if test="viewNumber != null">view_number=#{viewNumber},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        where id=#{id}
    </update>

</mapper>