<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nplat.convert.mapper.PersonInfoMapper">

    <select id="getPersonInfo" parameterType="java.util.HashMap" resultType="com.nplat.convert.entity.PersonInfo">
        SELECT * FROM person_info
        WHERE
        <if test="id != null and id != ''">
             id = #{id}
        </if>
        <if test="openId != null and openId !=  ''">
             open_id = #{openId}
        </if>
        <if test="uLevel != null and uLevel != ''">
             u_level = #{uLevel}
        </if>
        <if test="uPhoneNumber != null and uPhoneNumber != ''">
            u_phone_number = #{uPhoneNumber}
        </if>
    </select>

    <update id="updateInfoById" parameterType="java.util.HashMap">
        update person_info
        <set>
            <if test="uLevel != null">u_level=#{uLevel},</if>
            <if test="nickName != null">nick_name=#{nickName},</if>
            <if test="avataUrl != null">avata_url=#{avataUrl},</if>
            <if test="gender != null">gender=#{gender},</if>
            <if test="country != null">country=#{country},</if>
            <if test="province != null">province=#{province},</if>
            <if test="city != null">city=#{city},</if>
            <if test="personalQrCode != null">personal_qr_code=#{personalQrCode},</if>
            <if test="fans != null">fans=#{fans},</if>
            <if test="uPhoneNumber != null">u_phone_number=#{uPhoneNumber},</if>
        </set>
        where id=#{id}
    </update>

</mapper>